@media (min-width: 320px) and (max-width:480px) {

    /* Items to remoeve */
    
    .search_bar, .hp_buttons, .search_header, .header_right{
        display: none;
    }    


    /* Common CSS */

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Editing header section */

    .header_left{

        width: 100%;
        justify-content: center;
    }

    .container{

        width: 100%;
        justify-self: center;
        border-bottom: none;
        overflow: hidden;
    }

    .logo{

        width: 60%;
    }

    /* .mob_men_icon{

        width: 5%;
        color: white;
    }

    .mob_men_icon_1{

        width: 100%;
        color: white;
    } */

}